/* small device */
@media screen and (max-width: 576px) {

    nav ul {
        display: none;
    }

    .hamburg {
        margin: 15px;
        display: block;
        color: white;
    }


    .banner {
        flex-direction: column;
    }

    .banner-heading {
        font-size: 2.3rem;
    }
    .btn-primary{
        padding: 10px 20px;
    }
    .btn-2 {
        padding: 10px 20px;
    }
    .banner-image img {
        width: 100%;
    }

    .video-tuitorial {

        bottom: 125px;
        left: 10px;
        padding: 20px 20px;

    }

    .free-workout {
        bottom: 267px;
        left: 114px;
        padding: 8px 10px;
    }

    .habit-container {
        gap: 50px;
        flex-direction: column;
        /* border: 2px solid green; */
        align-items: center;
    }

    .run-container{
        flex-direction: column;
        gap: 50px;
    }

    .bmi-container{
        flex-direction: column;
    }
    input,select{
        width: 40%;
    }
    .bmi-form{
        margin-left: 0;
    }

    .team-container {
        grid-template-columns: repeat(1, 1fr);
       justify-content: center;
       padding: 0 auto;
    }
    .team-box img {
        width: 286px;
        height: 272px;
        border-radius: 20px;
    
    }

    .footer-container {
        flex-direction: column;
    }
}