body {
    background-color: black;
    font-family: "Inter", serif;

}

/* common styles  */
.btn-primary {
    background-color: red;
    color: white;
    padding: 16px 40px;
    border-radius: 40px;
    border: none;
}

.description {
    margin: 0;
    padding: 0;
    color: gray;
}

.common-part {
    text-align: center;
    margin: 20px auto;
    max-width: 670px;
}

.common-heading {
    font-size: 3rem;
    color: white;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.common-description {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

/* header part staart  */
.header {
    max-width: 1080px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h4 {
    font-size: 36px;
    color: red;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

.home {
    padding: 8px 20px;
    background-color: red;
    border-radius: 20px;
}


.hamburg {
    display: none;
}

/* baanner paart start here */

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    width: 80%;
}

.banner-heading {
    font-size: 5rem;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}

.shape {
    /* font-style: italic; */
}


.btn {
    margin-top: 20px;
    /* border: 2px solid green; */
}

.btn-2 {
    margin-left: 10px;
    color: white;
    background-color: transparent;
    padding: 16px 40px;
    border-radius: 40px;
    border: 2px solid white;
}

.banner-image {
    position: relative;
    /* border:  2px solid green; */
}

.position-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
}



.video-tuitorial {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    bottom: 70px;
    left: -50px;
    padding: 25px 30px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
}

.red {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.position-text h3,
.free-workout h3 {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 10px;
    color: white;
}

.free-workout {
    position: absolute;
    bottom: 350px;
    left: 250px;
    padding: 25px 30px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
}

/* baanner paart end here */

/* change your habit part start here */
main {
    max-width: 1080px;
    margin: 0 auto;
}

.habit-container {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
}

.habit-box {
    max-width: 230px;
    text-align: center;
}

.havit-img img {
    border: 2px solid rgb(68, 68, 68);
    border-radius: 50%;
}

.havit-title {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin: 10px 0 0 0;
    padding: 0;
}

.havit-description {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

/* change your habit part end here */




/* run  part start  */

.run-container {
    background-color: rgb(26, 26, 26);
    display: flex;
    padding: 54px;
    gap: 175px;
    border-radius: 20px;
}

.run-img {
    max-width: 366px;
}

.run-img img {
    width: 100%;
    border-radius: 20px;
}



/* run  part end  */

/* bmi part strt here  */
.bmi-container{
    margin: 100px 0;
    display: flex;
    /* gap: 50px; */
}
.bmi-form{
    margin-left: 100px;
}
.bmi-header{
    margin: 20px 0;
    font-size: 2rem;
    color: white;
    font-weight: 900;

    text-align: center;

}
form{
    /* border: 2px solid green; */
   margin: 30px 0;
   

}
form button{
    display: block;
    margin: 20px 0;
}
input{
    padding: 15px 10px;
    width: 40%;
    border-radius: 8px;
    border: none;
    margin: 5px;
    background-color:  rgb(54, 54, 54);
}
select{
    color: rgb(119, 119, 119);
    padding: 15px 10px;
    width: 43%;
    border-radius: 8px;
    border: none;
    margin: 5px;
    background-color:  rgb(54, 54, 54);
}
select:last-child{
    padding: 15px 10px;
    width: 88%;
    border-radius: 8px;
    border: none;
    margin: 5px;
    background-color:  rgb(54, 54, 54);
}

table , tr, td, th{
    border: 2px  solid rgb(54, 54, 54);
     border-collapse: collapse;
}
table th{
    color: white;
    padding: 20px 50px;

}
tr td{
    color: rgb(109, 108, 108);
    padding: 20px 50px;
    /* border: 2px solid saddlebrown;  */
    /* border-collapse: collapse; */
}


/* bmi part end here  */



/* team part css start here  */
.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
    /* align-items: center; */
    /* justify-content: center; */
}

.team-box {
    max-width: 325px;
    position: relative;
}

.team-box img {
    width: 326px;
    height: 272px;
    border-radius: 20px;

}

.team-text {
    position: absolute;
    bottom: 50px;
    left: 45px;
}

.team-title {
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
}

/* team part css end here  */

/* footer part start here  */
footer {
    background-color: rgb(27, 27, 27);
    padding: 20px;
    margin: 50px 0;
}

.footer {
    max-width: 1080px;
    margin: 0 auto;
    background-color: rgb(27, 27, 27);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 50px 0;
}

.footer-text {
    max-width: 440px;
}

.footer-title {
    font-size: 50px;
    margin-top: 0px;
    color: red;
    /* padding: 0; */
}

.footer-content ul li {
    list-style: none;
    color: gray;
    margin-left: -40px;
    margin-bottom: 10px;
}

hr {
    background-color: rgb(36, 35, 35);
}

.small {
    color: gray;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid green; */
}


/* footer part end here  */